

.basket-card-container{
}

.basket-card-product{
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.basket-img-and-details-container{
    display: flex;
    flex-direction: row;
}

.qty-details{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.basket-card-img-container{
    height: fit-content;
    width: 30%;
}

.basket-card-img{
    width: 100%;
    height: auto;
}

.basket-product-details-container{
    width: 70%;
    padding: 0 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.basket-product-details-container h6, h5 {
    font-size: medium !important;
}

.basket-product-name{
    
}

.basket-product-price-container{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

@media (min-width: 768px) {
    .basket-product-details-container h6, h5{
        font-size: large !important;
    }

}

@media (min-width: 992px){
    .qty-details{
    }
    
}