/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}
    
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.basket-card-container{
    display: flex;
    flex-direction: row;
    width: 50%;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.basket-card-product{
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.basket-img-and-details-container{
    display: flex;
    flex-direction: row;
    padding-right: 20px;
}

.qty-details{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.basket-card-img-container{
    height: fit-content;
}

.basket-card-img{
    object-fit: cover;
    width: 9rem;
    height: 9rem;
}

.basket-product-details-container{
    padding: 0 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.basket-product-details-container h6, h5 {
    font-size: medium !important;
}

.basket-product-name{
    
}

.basket-product-price-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

@media (min-width: 768px) {
    .basket-product-details-container h6, h5{
        font-size: large !important;
    }

}

@media (min-width: 992px){
    .qty-details{
    }
    
}