
.banner{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 24rem;
    color: cyan;
    background-color: white;
    background-size: cover;
}

.inner-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.32);
    font-weight: lighter;
}

.banner-title{
    padding: 10px;
    font-size: 3.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: cursive;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: monospace;
}